{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <img class="mx-auto d-block mt-5" src="{{ asset('images/logo/agri-200.png') }}" alt="logo-agri-alerte">
    <div class="container form-container mt-5">
        <h2 class="mt-5">Réinitialiser le mot de passe.</h2>
        <div class="container mt-5">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    <div class="form-container-error">{{ form_errors(form.email) }}</div>
                </div>

                {{ form_row(form._token) }}
                <input class="mt-4 mb-5 button-style-orange" type="submit" value="Réinitialiser">
            {{ form_end(form, {'render_rest': false}) }}

        </div>
        <hr>

            <p class="pb-3">Déjà inscrit ? <a href="{{ path('login') }}">Se connecter</a></p>
            <p class="pb-3">Pas encore inscrit ? <a href="{{ path('signin') }}">S'inscrire</a></p>
    </div>

    </div>

{% endblock %}
